body {
  background: #fdfdfd;
  text-align: center;
}

figure{
margin: 0 auto;
width: 500px;
}


img {
 -webkit-transition: 1s;
 -moz-transition: 1s;
 -o-transition: 1s;
 transition: 1s;
 max-width: 100%;
 opacity: 0;
 width: 100%;
}

.b-loaded {
 opacity: 1;
}
