body {
  background: #fdfdfd;
  text-align: center;
}

.contenido {

}


img {
        -webkit-transition: 2s;
           -moz-transition: 2s;
             -o-transition: 2s;
                transition: 2s;
                 max-width: 100%;
                   opacity: 0;
    }

.b-loaded {
                   opacity: 1;
    }
